<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 text-white">
        <a href="/" class="text-blue-500 inline-block mt-3 mb-3 px-10">Go back to home</a>

        <div class="form p-10 text-white">
            <form action="/edit" method="POST">
                <div class="flex flex-row title gap-3">
                    <div class="flex flex-col w-1/2">
                        <label>Previous title:</label>
                        <input class="block px-5 py-2 bg-zinc-800 w-full rounded-md" type="text" placeholder = 'Previous name' name="previousName" readonly value="<%=title.replace('.txt','').replaceAll('-',' ')%>">
                    </div>
                    <div class="flex flex-col w-1/2">
                        <label>New title:</label>
                        <input class="block px-5 py-2 bg-zinc-800 resize-none w-full rounded-md " placeholder = 'New name' name="newName"></input>
                    </div>
                </div>
                <div>
                    <label>Edit Content:</label>
                    <textarea class="block px-5 py-2 mt-2 bg-zinc-800 resize-none w-full min-h-82 rounded-md " placeholder = 'Description goes here' name="EditedDescription"><%=description%></textarea>
                </div>
                <button class="mt-2 bg-blue-600 px-3 py-1 rounded-md " type="submit">Save</button>
            </form>
        </div>
    </div>
</body>
</html>